
.hero {
  width: 100%;
  color: #333;
}
.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}
.title, .description {
  text-align: center;
}
.row {
  max-width: 880px;
  margin: 80px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  padding: 18px 18px 24px;
  width: 220px;
  text-align: left;
  text-decoration: none;
  color: #434343;
  border: 1px solid #9B9B9B;
  &:hover {
    border-color: #067df7;
  }
  h3 {
    margin: 0;
    color: #067df7;
    font-size: 18px;
  }
  p {
    margin: 0;
    padding: 12px 0 0;
    font-size: 13px;
    color: #333;
  }
}

#counter {
  width: 100%;
}
h1 {
  text-align: center
}
.action-btns {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 8px;
    margin: 8px;
  }
}